In [1]:
import pandas as pd

In [2]:
df_webdata = pd.read_csv("/Users/laurasuemitsu/Desktop/DATA_FT_May_2025/Week 5/Project/df_final_web_data_pt_1.txt")

df_webdata.to_csv("df_final_web_data_pt_1.csv")

In [3]:
df_webdata = pd.read_csv("/Users/laurasuemitsu/Desktop/DATA_FT_May_2025/Week 5/Project/df_final_web_data_pt_1.csv")

df_webdata = df_webdata.drop(columns="Unnamed: 0")
df_webdata.head()

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04

In [4]:
df_webdata1 = df_webdata
df_webdata1.shape

(343141, 5)

In [5]:
df_webdata1["process_step"].unique()

array(['step_3', 'step_2', 'step_1', 'start', 'confirm'], dtype=object)

In [8]:
path = "/Users/laurasuemitsu/Desktop/DATA_FT_May_2025/Week 5/Project/df_final_web_data_merged.csv"

df_webdata_final = pd.read_csv(path)

In [13]:
df_webdata_final.head()
df_webdata_final.shape

(755405, 5)

In [10]:
df_webdata_2 = pd.read_csv("/Users/laurasuemitsu/Desktop/DATA_FT_May_2025/Week 5/Project/df_final_web_data_pt_2.txt")

df_webdata_2.to_csv("df_final_web_data_pt_2.csv")

In [11]:
df_webdata_2 = pd.read_csv("/Users/laurasuemitsu/Desktop/DATA_FT_May_2025/Week 5/Project/df_final_web_data_pt_2.csv")

In [12]:
df_webdata_2.head()

,Unnamed: 0,client_id,visitor_id,visit_id,process_step,date_time
0,0,763412,601952081_10457207388,397475557_40440946728_419634,confirm,2017-06-06 08:56:00
1,1,6019349,442094451_91531546617,154620534_35331068705_522317,confirm,2017-06-01 11:59:27
2,2,6019349,442094451_91531546617,154620534_35331068705_522317,step_3,2017-06-01 11:58:48
3,3,6019349,442094451_91531546617,154620534_35331068705_522317,step_2,2017-06-01 11:58:08
4,4,6019349,442094451_91531546617,154620534_35331068705_522317,step_1,2017-06-01 11:57:58